a3.xml

<?xml version = "1.0"  encoding = "utf-8"?>
<!DOCTYPE student_catalog [
<!ELEMENT student_catalog (student+)>
<!ELEMENT student (name, address, marks, hobbies)>
<!ELEMENT name (fname, lname, mname)>
<!ELEMENT address (houseno, streetname, cityname, state)>
<!ELEMENT marks (#PCDATA)>
<!ELEMENT hobbies (#PCDATA)>
]>

<?xml-stylesheet type="text/css" href="a3.css"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">


<xs:student_catalog>
 <xs:student>
   <xs:name> 
  	<xs:fname> Rashmitha </xs:fname>
	<xs:lname> Shetty </xs:lname>
	<xs:mname> P </xs:mname>
   </xs:name>
   <xs:address>
	<xs:houseno> 41115 </xs:houseno>
	<xs:streetname> padubidri </xs:streetname>
	<xs:cityname> udupi </xs:cityname>
	<xs:state> Karnataka </xs:state>
   </xs:address>
   <xs:marks> 90 </xs:marks>
   <xs:hobbies> Playing </xs:hobbies>
  </xs:student>
</xs:student_catalog>


<xs:student_catalog>
 <xs:student>
   <xs:name> 
  	<xs:fname> Bheem </xs:fname>
	<xs:lname> Raj </xs:lname>
	<xs:mname> S </xs:mname>
   </xs:name>
   <xs:address>
	<xs:houseno> 4116 </xs:houseno>
	<xs:streetname> Mukka </xs:streetname>
	<xs:cityname> Mangalore </xs:cityname>
	<xs:state> Karnataka </xs:state>
   </xs:address>
   <xs:marks> 95 </xs:marks>
   <xs:hobbies> chating </xs:hobbies>
  </xs:student>
</xs:student_catalog>


</xs:schema>